<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="eventManager2">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="eventManager2"/>
        <property name="java-output-path" value="/eventManager2/WebConten/WEB-INF/classes"/>
    </wb-module>
</project-modules>
